.chat-support {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .chat-toggle {
    background-color: #007bff;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .chat-window {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    min-height: 400px;
    max-height: 500px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10px;
  }
  
  .chat-header {
    background-color: #f1f1f1;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  .chat-header h4 {
    color: black;
  }
  
  .chat-body {
    flex: 1;
    padding: 10px;
  }
  
  .chat-input {
    display: flex;
    border-top: 1px solid #ccc;
  }
  
  .chat-input input {
    flex: 1;
    border: none;
    padding: 10px;
  }
  
  .chat-input button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .chat-list {
    max-height: 300px;
    overflow-y: auto;
  }
  
  .chat-item {
    padding: 10px;
    color: purple;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
  .chat-item:hover {
    background-color: #f1f1f1;
  }

  .chat-item.active {
    background-color: #007bff;
    color: white;
  }
  
  
  .chat-message {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .chat-message.user {
    background-color: #d4edda; /* Зеленый фон для сообщений пользователя */
    align-self: flex-end; /* Выравнивание сообщений пользователя вправо */
  }
  
  .chat-message.support {
    background-color: #f8d7da; /* Красный фон для сообщений поддержки */
    align-self: flex-start; /* Выравнивание сообщений поддержки влево */
  }